In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                 index =[ ['a', 'a', 'a', 'b','b','c','c','d','d'],
                 [1,2,3,1,2,3,1,2,3]])
data

a  1   -0.397203
   2   -0.734394
   3   -0.148546
b  1   -0.525895
   2    0.275531
c  3    0.006754
   1    0.294410
d  2   -0.885254
   3   -0.296146
dtype: float64

In [2]:
data['a']

1   -0.397203
2   -0.734394
3   -0.148546
dtype: float64

In [3]:
data['b']

1   -0.525895
2    0.275531
dtype: float64

In [4]:
data.unstack()
#變成表格

          1         2         3
a -0.397203 -0.734394 -0.148546
b -0.525895  0.275531       NaN
c  0.294410       NaN  0.006754
d       NaN -0.885254 -0.296146

In [5]:
data.unstack().stack()

a  1   -0.397203
   2   -0.734394
   3   -0.148546
b  1   -0.525895
   2    0.275531
c  1    0.294410
   3    0.006754
d  2   -0.885254
   3   -0.296146
dtype: float64