In [4]:
#使用list建立series

import pandas as pd

s1 = pd.Series([4, 7, -5, 3]) #若無指定index，則會有defalut index(0, 1, 2, 3, 4)
s1

/tmp/ipykernel_349/3612903583.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
#使用index,values

s1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s1.values

array([ 4,  7, -5,  3])

In [7]:
#自訂index

s2 = pd.Series([4, -7, 5, 3], index = ['d', 'c', 'a', 'b'])
s2

d    4
c   -7
a    5
b    3
dtype: int64

In [8]:
s2.index

Index(['d', 'c', 'a', 'b'], dtype='object')

In [9]:
s2.values

array([ 4, -7,  5,  3])

In [10]:
display(s2)
print("==========")
display(s2['a'])
s2['a'] = 6
print("===========")
s2[['c', 'b', 'd']]

d    4
c   -7
a    5
b    3
dtype: int64

==========

5

===========

c   -7
b    3
d    4
dtype: int64

In [12]:
display(s2)
print("===========")
display(s2 * 2)

import numpy as np
np.exp(s2)

d    4
c   -7
a    6
b    3
dtype: int64

===========

d     8
c   -14
a    12
b     6
dtype: int64

d     54.598150
c      0.000912
a    403.428793
b     20.085537
dtype: float64

In [13]:
'e' in s2, 'a' in s2

(False, True)

In [14]:
#dictionary建立series

sdata = {'國文':78, '英文':86, '數學':96, '社會':64, '自然':92}
s3 = pd.Series(sdata, index=['國文', '英文', '數學'])
s3

國文    78
英文    86
數學    96
dtype: int64

In [15]:
s4 = pd.Series(sdata, index=['國文', '探索', '數學'])
s4

國文    78.0
探索     NaN
數學    96.0
dtype: float64

In [16]:
#使用panda not/isnull
pd.isnull(s4)

國文    False
探索     True
數學    False
dtype: bool

In [17]:
s4.isnull()

國文    False
探索     True
數學    False
dtype: bool

In [19]:
s4.notnull()

國文     True
探索    False
數學     True
dtype: bool

In [20]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
s5 = pd.Series(sdata)
display(s5)
print("===========")

sdata = {'台北':25000, '桃園':66000, '台中':17000, '高雄':15000}
s6 = pd.Series(sdata)
display(s6)
s5 + s6

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

===========

台北    25000
桃園    66000
台中    17000
高雄    15000
dtype: int64

台北     60000
桃園    137000
台中     33000
高雄     20000
dtype: int64

In [23]:
s5
s5['台北'] = None
display(s5)
print("===========")
display(s6)
print("===========")

s5 + s6

台北        NaN
桃園    71000.0
台中    16000.0
高雄     5000.0
dtype: float64

===========

台北    25000
桃園    66000
台中    17000
高雄    15000
dtype: int64

===========

台北         NaN
桃園    137000.0
台中     33000.0
高雄     20000.0
dtype: float64