In [5]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns= ['b', 'd','e'],
             index  = ['台北', '新北', '台中', '高雄'])

frame

           b         d         e
台北 -1.055113 -0.419127  0.003593
新北 -1.294794 -0.476141  2.729726
台中  1.245715 -0.398449 -1.205704
高雄 -1.876007 -0.150474  0.265069

In [6]:
np.abs(frame)

           b         d         e
台北  1.055113  0.419127  0.003593
新北  1.294794  0.476141  2.729726
台中  1.245715  0.398449  1.205704
高雄  1.876007  0.150474  0.265069

In [9]:
display(np.mean(frame, axis=0))
display(np.mean(frame, axis=1))

b   -0.745050
d   -0.361048
e    0.448171
dtype: float64

台北   -0.490216
新北    0.319597
台中   -0.119480
高雄   -0.587137
dtype: float64

In [10]:
display(frame.mean())
display(frame.mean(axis=1))

b   -0.745050
d   -0.361048
e    0.448171
dtype: float64

台北   -0.490216
新北    0.319597
台中   -0.119480
高雄   -0.587137
dtype: float64

In [11]:
frame.loc['台北'].mean()

-0.4902155744531788

In [12]:
np.mean(frame.loc['台北'])

-0.4902155744531788