In [ ]:
#list dictionary set -> python 的資料結構

In [1]:
#list: 使用[]符號建立list

weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday']
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [2]:
(weekdays[0],weekdays[1],weekdays[-1])

('Monday', 'Tuesday', 'Sunday')

In [3]:
weekdays[:3]

['Monday', 'Tuesday', 'Wednesday']

In [4]:
weekdays[-3:]

['Friday', 'Saturday', 'Sunday']

In [6]:
#建立list 使用list()
list('cat')
list(range(0,100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [7]:
#建立空的list

empty_list = []
empty_list

[]

In [8]:
#建立空的list
another_empty_list = list()
another_empty_list

[]

In [9]:
birthday = "1/3/2003"
type(birthday)

str

In [12]:
#透過字串的split產生list

blist = birthday.split(sep = "/")
bblist = []

for item in blist:
    if int(item) // 10 == 0:
        item = "0"+item
    bblist.append(item)

print(bblist)
new_birthday = '/'.join(bblist)
new_birthday

['01', '03', '2003']

'01/03/2003'

In [13]:
cities = ['台北','台中','高雄']
type(cities)

list

In [14]:
cities.append('屏東')
cities

['台北', '台中', '高雄', '屏東']

In [18]:
cities.insert(0,'基隆')
cities

['基隆', '基隆', '基隆', '台北', '台中', '高雄', '屏東']

In [ ]:
cities.remove('台中')

In [20]:
try:
    cities.remove('台中')
except:
    print("沒有這個元素")

沒有這個元素

In [21]:
cities.clear()
cities

[]

In [22]:
#truple只可以讀取元素，無法新增等內容修改

cities_truple =('台北','台中','高雄')

for item in cities_truple:
    print(item)

台北
台中
高雄

In [23]:
cities_truple[0]

'台北'

In [24]:
cities_truple[0] = '台北市'

TypeError: 'tuple' object does not support item assignment