In [6]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
#ndarray類似list,可做陣列運算,但無keys()可用

#series, dataframe -> pandas module

In [1]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65], index = ['國文', '英文', '數學', '社會', '自然'])
s1

/tmp/ipykernel_13170/1415229694.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

國文    67
英文    78
數學    92
社會    74
自然    65
dtype: int64

In [2]:
s1 + 3

國文    70
英文    81
數學    95
社會    77
自然    68
dtype: int64

In [3]:
s1['國文'] #使用key-index
s1[0] #使用原生index

67

In [4]:
for i in s1:
    print(i)

67
78
92
74
65

In [7]:
#利用numpy做統計
np.sum(s1)

376

In [8]:
np.mean(s1)

75.2

In [9]:
np.std(s1)

9.620810776644555

In [10]:
np.median(s1)

74.0

In [11]:
#多個series->組成表格資料->dataFrame

pd.DataFrame({
    "徐國堂":[78, 92, 76, 91, 72],
    "林XX":[72, 81, 92, 94, 69],
    "張XX":[81, 65, 89, 81, 72],
}, index = ['國文', '英文', '數學', '社會', '自然'])

    徐國堂  林XX  張XX
國文   78   72   81
英文   92   81   65
數學   76   92   89
社會   91   94   81
自然   72   69   72

In [15]:
import numpy as np
import pandas as pd

data = np.random.randint(60, high = 100, size =(50,5))
pd.DataFrame(data,
             index = range(1,51),
             columns = ['國文', '英文', '數學', '社會', '自然']
             )

    國文  英文  數學  社會  自然
1   89  87  95  67  96
2   91  87  60  84  75
3   62  98  69  63  84
4   87  96  90  93  96
5   93  73  95  82  99
6   63  96  66  66  81
7   90  95  75  97  87
8   71  89  96  73  96
9   61  73  74  93  69
10  86  68  74  64  68
11  95  76  60  91  93
12  79  63  65  99  77
13  90  81  60  66  79
14  68  67  69  84  66
15  81  86  71  99  96
16  70  77  96  76  63
17  63  67  90  71  69
18  76  97  97  69  71
19  89  99  96  96  67
20  70  85  86  94  70
21  62  75  88  85  74
22  66  99  63  85  60
23  75  84  61  68  90
24  92  92  83  99  81
25  78  81  73  74  94
26  66  63  83  67  69
27  61  91  62  72  95
28  78  65  84  82  71
29  96  72  68  86  83
30  68  62  70  60  62
31  89  81  88  67  83
32  84  78  74  73  78
33  64  79  60  90  95
34  75  81  74  71  91
35  67  78  81  80  75
36  89  83  79  72  64
37  82  68  99  85  97
38  86  70  98  75  94
39  64  92  91  92  65
40  66  94  82  60  61
41  77  68  84  82  68
42  93  99  72  73  65
43  64  87  66  88  68
44  95  74  81  79  85
45  99  95  66  89  71
46  98  69  63  83  66
47  92  76  75  61  88
48  88  67  95  65  82
49  99  77  91  77  84
50  76  76  66  64  61