In [ ]:
class Student:
    pass

In [ ]:
stu1 = Student()
stu1.name = "徐國堂"
stu1.chinese = 78
stu1.english = 69
stu1.math = 92
type(stu1)

In [ ]:
stu2 = Student()
stu2.name = "張XX"
stu2.chinese = 86
stu2.english = 65
stu2.math = 91

In [ ]:
stu1.name, stu2.name